<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuario">

  <ion-grid>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    
    <ion-col>
      <ion-button expand="full" (click)="validateFormLogin()">Login</ion-button>
      <p class="center-p">
        <a href="/register">Create an account</a>
      </p>
    </ion-col>
  </ion-grid>
</form>


</ion-content>
